:root {
  --colorone: #333533;
  --colortwo: #757bc8;
  --colorthree: #242423;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  font-size: 1rem;
  font-family: 'Fredoka', sans-serif;
  color: #ffff;
  background: var(--colorone);
}

li {
  list-style: none;
}

h1,
h2 {
  color: var(--colortwo);
}

a {
  text-decoration: none;
  color: var(--colortwo);
}

.hidden {
  overflow: hidden;
}

.center {
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*#### NAVBAR #####*/
.navbar {
  z-index: 100;
  margin: 20px 20px;
  width: auto;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: auto;
  max-height: 30px;
}

.navbar .logo {
  height: 2.4rem;
}

.navbar .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-lang {
  z-index: 20;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 2.5rem;
  height: 2.5rem;
  background: #242423;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.btn-lang.show {
  background: #333533;
}

.btnham .open {
  z-index: 20;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  background: #242423;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnham .open.show {
  display: none;
  transition: .4s ease-in-out;
}

.btnham .close {
  display: block;
  z-index: 20;
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #D90429;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnham .close.show {
  display: none;
}

/*#### HERO SECTION #####*/
.hero {
  position: absolute;
  bottom: 60px;
  margin: 0px;
  padding: 0px 3rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.hero img {
  width: 30rem;
  height: 70%;
  animation-name: swip;
  animation-duration: 4s;
  position: relative;
  transition: 4s ease-out;
}

.hero .box {
  min-width: 20rem;
  max-width: 30rem;
}

.hero .box.show {
  display: none;
}

.hero .box-1 {
  display: none;
  min-width: 20rem;
  max-width: 30rem;
  transition: .5s ease-in-out;
  animation-name: swip;
  animation-duration: 3s;
}

.hero .box-1.show {
  display: block;
}

.footer {
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.banner-box {
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-box .foo-inf {
  margin-left: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-box .sidebar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner-box .sidebar img {
  width: 1.5rem;
  height: auto;
}

.banner-box .cards {
  padding: 20px 2rem 0px;
  display: flex;
  align-items: flex-end;
  height: 5rem;
}

.banner-box .cards .card {
  margin: 0px 5px;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  width: 14rem;
  height: 5.5rem;
  color: #ededed;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 3px 0px 3px 3px #ededed;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  display: flex;
  align-items: center;
  animation-name: card;
  animation-duration: 5s;
  position: relative;
}

.banner-box .cards .card:hover {
  transition: .4s ease-in-out;
  height: 9rem;
}

/*######################################################################## TABLET VIEW ############*/
@media (max-width: 1000px) {

  .navbar {
    position: inherit;
    margin: 20px 20px;
    width: auto;
    height: 30px;
  }

  .navbar .logo {
    margin: 0px;
    padding: 0px;
  }

  /*#### HERO SECTION #####*/
  .hero {
    position: inherit;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px 3rem;
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
  }

  .hero img {
    width: 20rem;
    height: 70%;
    animation-name: swip;
    animation-duration: 4s;
    position: relative;
    transition: 4s ease-out;
  }

  .hero .box {
    min-width: 20rem;
    max-width: 30rem;
  }

  .hero .box.show {
    display: none;
  }

  .hero .box-1 {
    display: none;
    min-width: 20rem;
    max-width: 30rem;
    transition: .5s ease-in-out;
    animation-name: swip;
    animation-duration: 3s;
  }

  .hero .box-1.show {
    display: block;
  }

  .footer{
    position: inherit;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .wave{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .banner-box {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .banner-box .foo-inf {
    margin: 0px;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
  }

  .banner-box .sidebar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .banner-box .sidebar img {
    width: 1.5rem;
    height: auto;
  }

  .banner-box .cards {
    padding: 20px 2rem 0px;
    display: flex;
    align-items: flex-end;
    height: 5rem;
  }

  .banner-box .cards .card {
    margin: 0px;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    width: 8rem;
    height: 4rem;
    color: #ededed;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 3px 0px 3px 3px #ededed;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: flex;
    align-items: center;
    animation-name: card;
    animation-duration: 5s;
    position: relative;
  }

  .banner-box .cards .card:hover {
    transition: .4s ease-in-out;
    height: 9rem;
  }
}

/*######################################################################## MOVIL VIEW ############*/
@media (max-width: 750px) {
  body {
    overflow: visible;
  }

  .navbar,
  .hero,
  .footer {
    position: inherit;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
  }

  .navbar {
    margin: 20px 20px;
    width: auto;
    height: 30px;
  }

  .navbar .logo {
    margin: 0px;
    padding: 0px;
  }

  .navbar .btn-lang {
    margin: 0px;
    padding: 0px;
  }

  .hero {
    box-sizing: border-box;
    margin: 0px auto;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    text-align: center;
    word-wrap: break-word;
  }

  .hero .box p,
  .hero .box-1 p {
    margin: auto;
    width: 70%;
  }

  .hero img {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 60%;
  }

  .footer {
    position: inherit;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .footer .wave{
    position: inherit;
    bottom: inherit;
    width: inherit;
  }

  .footer .banner-box {
    position: inherit;
    margin: 0px;
    width: 100%;
    height: 45rem;
    background: var(--colorthree);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .footer .banner-box .foo-inf {
    margin: 0px 0px 2rem;
    padding: 0px;
    width: 80%;
  }

  .footer .banner-box .cards {
    position: inherit;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .footer .banner-box .cards .card {
    margin: 0px;
    padding: 20px;
    border-radius: 0px;
    width: 80%;
    height: 10rem;
    animation-name: none;
    animation-duration: 0s;
  }

  .banner-box .cards .card:hover {
    transition: 0s;
  }
}

@keyframes swip {
  0% {
    left: -1000px;
  }

  100% {
    left: 0px;
  }
}

@keyframes card {
  0% {
    left: -1000px;
  }

  100% {
    left: 0px;
  }
}