:root{
  --colorone: #333533;
  --colortwo: #757bc8;
  --colorthree: #242423;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  height: 100vh;
  font-size: 1rem;
  font-family: 'Fredoka', sans-serif;
  color: #ffff;
  background: var(--colorone);
}
li{
  list-style: none;
}
h1,
h2{
  color: var(--colortwo);
}
a{
  text-decoration: none;
  color: var(--colortwo);
}
.hidden{
  overflow: hidden;
}
.center{
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*#### NAVBAR #####*/
.navbar{
  position: absolute;
  top: 0px;
  z-index: 100;
  margin: 1rem 3rem;
  width: auto;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar img{
  height: 2.4rem;
}
.btnham{
  display: none;
}

/*#### HERO SECTION #####*/
.hero{
  position: absolute;
  bottom: 60px;
  margin: 0px;
  padding: 0px 3rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.hero img {
  width: 30rem;
  height: 70%;
  animation-name: swip;
  animation-duration: 5s;
  position: relative;
  transition: 3s ease-in-out;
}
.hero .box{
  min-width: 20rem;
  max-width: 30rem;
}

.banner{
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.banner-box{
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-box .foo-inf{
  margin-left: 3rem;
  width: 19rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-box .sidebar{
  display: flex;
  gap: .9rem;
}
.banner-box .sidebar img{
  width: 1.5rem;
  height: auto;
}
.banner-box .cards{
  padding: 20px 2rem 0px;
  display: flex;
  align-items: flex-end;
  height: 5rem;
}
.banner-box .cards .card{
  margin: 0px 5px;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  width: 14rem;
  height: 5.5rem;
  color: #ededed;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 3px 0px 3px 3px #ededed;
  background-size: cover; 
  background-repeat: none;
  background-position: center;
  display: flex;
  align-items: center;
  animation-name: card;
  animation-duration: 5s;
  position: relative;
}
.banner-box .cards .card:hover{
  transition: .4s ease-in-out;
  height: 9rem;
}
@keyframes swip {
  0%{
    left: -1000px;
  }
  50%{
    left: -500px;
  }
  100%{
    left: 0px;
  }
}
@keyframes card {
  0%{
    left: -1000px;
  }
  50%{
    left: -500px;
  }
  100%{
    left: 0px;
  }
}
@media (max-width: 800px) {
  body{
    overflow: visible;
  }
  .navbar,
  .hero,
  .banner{
    position: inherit;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
  }
  .navbar{
    margin: 20px 20px;
    width: auto;
    height: 30px;
  }
  .hero{
    box-sizing: border-box;
    margin: 0px auto;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
  }
  .hero .box{
    width: 80%;
    text-align: center;
    word-wrap: break-word;
  }
  .hero img{
    width: auto;
    height: 70%;
  }
  .banner{
    position: inherit;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .banner .banner-box{
    position: inherit;
    margin: 0px;
    width: 100%;
    height: 45rem;
    background: var(--colorthree);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .banner .banner-box .foo-inf{
    margin: 0px 0px 2rem;
    padding: 0px;
    width: 80%;
  }
  .banner .banner-box .cards{
    position: inherit;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .banner .banner-box .cards .card{
    margin: 0px;
    padding: 20px;
    border-radius: 0px;
    width: 80%;
    height: 8.5rem;
    animation-name: none;
    animation-duration: 0s;
  }
  .banner-box .cards .card:hover{
    transition: 0s;
  }
}