:root {
  --colorone: #333533;
  --colortwo: #757bc8;
  --colorthree: #242423;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  background: var(--colorone);
  color: #ffff;
  font-family: 'Fredoka', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--colortwo);
}

.hidden {
  overflow: hidden;
}

.center {
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: 20rem;
  background-image: url(../img/desarrollo.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edf6f9;
}

.nav-bar {
  z-index: 1000;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 3rem;
  background-color: var(--colortwo);
}
.nav-bar img{
  height: 2.5rem;
}
.box-contents{
  margin: 3rem auto;
  width: 80%;
  height: 200vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 20rem;
}
article.cards{
  width: auto;
  height: 20rem;
  background: #edf6f9;
  border-radius: 8px;
  color: #242423;
}
article.cards p{
  z-index: 80;
  padding: 20px;
  background: #242423;
  display: none;
  color: #edf6f9;
  width: auto;
  height: 20rem;
  border-radius: 8px;
  transition: 3s ease-in-out;
}
article.cards:hover p{
  display: inline-block;
}